.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__pageTitle {
    text-align: center;
    font-family: adobe-garamond-pro, serif;
    margin-bottom: 10%;
    padding-top: 0;
    margin: 10vh 0 2 0vh 0;
    font-size: 45px;
  }

  &__container-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $tablet) {
      flex-direction: row;
    }
  }

  &__container-content-simple {
    font-size: 1rem;
    line-height: 1.2rem;

    @media (min-width: $desktop) {
      font-size: 1.3rem;
      line-height: 1.5rem;
    }
  }

  &__container {
    margin: -20px;
    height: 500px;
    width: 100%;
    padding: 20px;

    @media (min-width: $tablet) {
      width: 50%;
      margin: 0;
    }

    &--left {
      color: $color__black;

      .App--dark & {
        z-index: 3;
        color: $color__whiteTotal;
      }
    }

    &--big {
      margin-top: $desktop-content-margin;
      width: 65%;
      height: 100%;
    }

    &--right {
      z-index: 1;
      background: $color__black;
      color: $color__whiteTotal;

      .App--dark & {
        background: $color__white;
        color: $color__black;
      }
    }
  }

  &__container-title {
    text-align: center;
    font-size: 2rem;
    font-family: adobe-garamond-pro, serif;
    margin-bottom: 50px;
  }

  &__quote {
    font-family: $garamond;

    &--last {
      text-align: right;
      display: block;
    }
  }
}
