.homepage {

  &__headtitle {
    font-family: $maax;
    font-size: 40px;
    font-weight: 900;

    @media (min-width: $desktop) {
      font-size: 90px;
    }
  }

  &__subtitle {
    font-family: $garamond;
    font-size: 30px;

    @media (min-width: $desktop) {
      font-size: 70px;
    }
  }

  &__introduction-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-top: $desktop-content-margin;
    align-items: center;

    @media (min-width: $desktop) {
      flex-direction: row;
    }
  }

  &__introduction-text {
    padding: 50px;
    width: 100%;
    font-size: 14px;

    .homepage--darkMode & {
      color: $color__greyPale;
    }

    p {
      padding: 20px 0;
    }

    @media (min-width: $desktop) {
      width: 600px;
      font-size: 17px;
    }
  }

  &__introduction-title {
    font-family: $maax;
    font-weight: bold;
  }

  &__button-wrapper {
    display: flex;
    flex-direction: row-reverse;
    margin: 30px 50px 0 0;
  }

  &__introduction-all-image-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    @media (min-width: $desktop) {
      margin-bottom: 0px;
    }
  }

  &__introduction-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;

    img {
      opacity: 0;
      box-shadow: $boxShadow;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      filter: grayscale(100%);
    }

    @media (min-width: $desktop) {
      width: 250px;
      height: 250px;
    }

    @media (min-width: $desktop-large) {
      width: 400px;
      height: 400px;
    }

    .homepage--darkMode & {
      box-shadow: $boxShadowLight;
    }
    &--second {
      width: 150px;
      height: 150px;
      margin-top: 120px;
      margin-left: -100px;

      @media (min-width: $desktop) {
        width: 200px;
        height: 200px;
      }

      @media (min-width: $desktop-large) {
        width: 250px;
        height: 250px;
      }
    }
  }
  &__cta {
    display: flex;
    font-size: 60px;
    font-family: $maax;
    text-align: center;
    font-weight: 900;
    cursor: pointer;
    color:inherit;

    &:hover{
      color:inherit;
      text-decoration: none;
    }
    @media(min-width:$tablet){
    font-size: 100px;

    }
  }
  &__cta-wrapper {
    margin-top: $desktop-content-margin;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__cta-title {
    display: block;
    text-align: right;
    font-family: $garamond;
    text-transform: uppercase;
    font-size: 20px;
  }
}
