.portal {
  display: flex;
  position: relative;

  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
  }

  &__button-wrapper {
    margin-top: 80px;
    display: flex;
  }

  &__section {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    z-index: 0;
    overflow: hidden;
    padding: 0vh 20px;
    height: 100vh;
    background: $color__white;
    transition: all 0.5s;

    .App--dark & {
      background: $color__black;
    }

    @media (min-width: $desktop) {
      padding: 0 100px;
      height: 100vh;
      overflow: hidden;
    }

    @media (min-width: $tablet) {
      width: 50%;
    }

    &--dark {
      z-index: 0;
      background: $color__black;
      color: $color__white;

      .App--dark & {
        background: $color__white;
        color: $color__black;
      }
      text-align: right;
      .portal__button-wrapper {
        flex-direction: row-reverse;
        @media (min-width: $desktop) {
          flex-direction: row;
        }
      }
    }

    &--light {
      .portal__button-wrapper {
        @media (min-width: $desktop) {
          flex-direction: row-reverse;
        }
      }
    }
  }

  &__section-wrapper {
    display: flex;
    flex-direction: column;
  }
  &__title {
    margin-top: 50px;
    font-family: $garamond;
    font-weight: 100;
    font-size: 3em;

    @media (min-width: $tablet) {
      margin-top: 200px;
    }
  }

  &__description {
    font-family: $maax;
    height: 50px;
    font-size: 1.2rem;
  }
}
