.Projects {
  height: 100vh;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    align-items: center;
    justify-content: center;
  }

  &__image {
    width: 300px;
    display: flex;
    justify-content: center;

    position: relative;
    @media (min-width: $desktop) {
      margin-bottom: 0;
    }

    svg,
    path {
      margin-bottom: 50px;

      .App--dark & {
        fill: $color__white;
      }
    }
  }
  &__wrapper {
    display: flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $desktop) {
      width: 70%;
      text-align: initial;
      align-items: initial;
      flex-direction: row;
      justify-content: space-around;
    }

    @media (min-width: $desktop-large) {
      width: 50%;
    }
  }

  &__title {
    font-weight: 900;
  }

  &__description {
    font-family: $maax;
    max-width: 300px;
  }

  &__tags {
    font-weight: 500;
    margin-bottom: 25px;
  }

  &__controller-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__controller {
    text-transform: uppercase;
    font-family: $maax;
    font-weight: 500;
    font-size: 0.75rem;
    cursor: pointer;
    margin-top: 25px;
  }

  &__cta {
    margin: 10px 10px 10px 0;
    padding: 10px 20px;
    font-family: $maax;
    font-weight: 100;
    color: $color__white;
    background: $color__black;
    .App--dark & {
      color: $color__black;
      background: $color__white;
      &:hover {
        color: $color__accent;
      }
    }
  }

  &__controller-text {
    padding: 20px 10px;
  }
}

//fugly

.st0,
.st1,
.st2,
svg {
  transition: all 0.5s !important;
}
.st0 {
  stroke: #231f20;
  stroke-miterlimit: 10;

  .App--dark & {
    stroke: $color__black !important;
    fill: $color__black !important;
  }
}
.st1 {
  fill: $color__white;

  .App--dark & {
    fill: $color__black !important;
  }
}
.st2 {
  fill: $color__white;
  stroke: $color__white;

  .App--dark & {
    stroke: $color__black !important;
    fill: $color__black !important;
  }

  stroke-width: 2;
  stroke-miterlimit: 10;
}
