.footer{
    background:$color__black;
    display: flex;
    min-height:200px;
    justify-content: space-evenly;
    color:white;

    &__title-wrapper{
    }

    &__CTA-wrapper{

    }

    &__CTA-title{
        font-weight:700;
        font-size:50px;
    }

    &__quote{
        font-family:$maax;
        font-weight: 900;
    }
}