.footer {
  display: flex;
  min-height: 400px;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;

  &__divider {
    margin: 50px 0;
    width: 100%;
    height: 2px;

    .App--dark & {
      background: $color__greyPale;
    }
    background: $color__greyPale;

    @media (min-width: $mobile) {
      width: 80%;
    }
    @media (min-width: $tablet) {
      width: 95%;
    }

    @media (min-width: $desktop) {
      width: 70%;
    }

    @media (min-width: $desktop-large) {
      width: 1200px;
    }
  }

  &__wrapper {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  ul {
    list-style-type: none;
    font-family: $maax;
    width: 150px;
    margin: 0;
    padding: 0;

    a {
      transition: 0.5s;

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__CTA-wrapper {
    overflow: hidden;
  }

  &__socialMedia-wrapper {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;

    li {
      margin: 20px 0;

      @media (min-width: $desktop) {
        margin: 10px 0;
      }
    }
  }

  &__CTA-title {
    font-family: $maax;
    font-weight: 700;
    margin: 0;
    font-size: 15px;

    @media (min-width: $tablet) {
      font-size: 22px;
    }

    @media (min-width: $desktop) {
      font-size: 30px;
    }
  }

  &__CTA-concept {
    display: block;

    font-size: 30px;

    @media (min-width: $tablet) {
      font-size: 45px;
    }

    @media (min-width: $desktop) {
      font-size: 60px;
    }
  }

  &__CTA {
    margin: 60px 0;
    font-family: $maax;
    display: block;
    font-weight: 500;
    cursor: pointer;
    font-size: 30px;
    text-align: center;

    @media (min-width: $tablet) {
      font-size: 60px;
    }
    margin: 50px 0;

    @media (min-width: $desktop) {
      font-size: 80px;
    }
  }

  &__quote {
    font-family: $garamond;
    font-weight: 100;
    text-align: right;
    display: inline;
    font-size: 20px;
    margin: 0;

    @media (min-width: $tablet) {
      font-size: 30px;
    }

    @media (min-width: $desktop) {
      font-size: 40px;
    }
  }

  &__copied {
    color: $color__accent;
    font-family: $maax;
    font-size: 30px;
    position: absolute;
    font-weight: bold;
    opacity: 0;
  }

  &__quote-wrapper {
    display: flex;
    margin-top: 50px;
    flex-direction: row-reverse;
  }
}
