.footer {
  display: flex;
  min-height: 800px;
  color: $color__blackPale;
  flex-direction: column;
  align-items: center;

  &--darkMode {
    color: $color__greyPale;
  }

  &__divider {
    margin: 50px 0;
    width: 90%;
    height: 2px;

    .App--dark & {
      background: $color__greyPale;
    }
    background: $color__greyPale;

    @media (min-width: $mobile) {
      width: 80%;
    }
    @media (min-width: $tablet) {
      width: 95%;
    }

    @media (min-width: $desktop) {
      width: 70%;
    }

    @media (min-width: $desktop-large) {
      width: 60%;
    }
  }

  &__wrapper {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  ul {
    list-style-type: none;
    font-family: $maax;
    width: 150px;
    margin: 0;
    padding: 0;

    a {
      color: $color__blackPale;
      .App--dark & {
        color: $color__greyPale;
      }
      transition: 0.5s;

      &:hover {
        color: $color__accent;
        text-decoration: none;
      }
    }
  }

  &__title-wrapper {
  }

  &__CTA-wrapper {
    overflow: hidden;
  }

  &__socialMedia-wrapper {
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
  }

  &__CTA-title {
    font-weight: 700;
    margin: 0;
    font-size: 15px;

    @media (min-width: $tablet) {
      font-size: 22px;
    }

    @media (min-width: $desktop) {
      font-size: 30px;
    }
  }

  &__CTA-concept {
    display: block;
    color: $color__black;
    .App--dark & {
      color: $color__white;
    }
    font-size: 30px;

    @media (min-width: $tablet) {
      font-size: 45px;
    }

    @media (min-width: $desktop) {
      font-size: 60px;
    }
  }

  &__CTA {
    font-weight: 500;
    cursor: pointer;
    font-size: 35px;

    .App--dark & {
      color: $color__whiteTotal;
    }
    @media (min-width: $tablet) {
      font-size: 60px;
    }
    margin: 50px 0;

    @media (min-width: $desktop) {
      font-size: 80px;
    }
  }

  &__quote {
    font-family: $garamond;
    font-weight: 100;
    text-align: right;
    display: inline;
    font-size: 20px;
    margin: 0;

    @media (min-width: $tablet) {
      font-size: 30px;
    }

    @media (min-width: $desktop) {
      font-size: 40px;
    }
  }

  &__copied {
    color: $color__accent;
    font-family: $maax;
    font-size: 30px;
    position: absolute;
    font-weight: bold;
    opacity: 0;
  }

  &__quote-wrapper {
    display: flex;
    margin-top: 50px;
    flex-direction: row-reverse;
  }
}
