$desktop-large-paddings:150px 200px;
$desktop-paddings:100px 50px;

$mobile-paddings:100px 10px;

$desktop-content-margin:150px;

$mobile:460px;
$tablet:720px;
$desktop:1024px;
$desktop-large:1350px;


@import './footer.scss';