$boxShadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$color__blackTotal : #000;
$color__black : #232323;
$color__blackPale : #4b4b4b;
$color__grey : #737373;
$color__greyPale : #D3D3D3;
$color__gold:#e3cd74;
