.paral {
    height: 300px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    width:100%;
    }

    
        

/* Paragraph for Parallax Section */ 
.paral p {
    font-size: 24px;
    color:#000000;
    text-align: center;
    line-height: 60px;
    
    }
     
    /* Heading for Parallax Section */ 
    .paralh1 {
    color: #000000;
    font-size: 23px;
    text-align: center;
    padding-top: 10px;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
    transition: 0.3s;
    }

    @media (max-width:1000px)
    {
        .paralh1
        {
            -webkit-filter:none!important; /* Safari 6.0 - 9.0 */
            filter: none!important;
        }
    }

    .paralh1:hover{
        -webkit-filter:none!important; /* Safari 6.0 - 9.0 */
    filter: none!important;
    transition: 0.3s;
    }


    .paralsec {
        background-image: url("./dubai.jpg");
        }
    

        .jumbotron{margin-bottom: 0;}
         