@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

#apostolesNavbar a
{
    font-family: 'Montserrat';
    color:#FFFFFF;
    font-weight: 100;
    font-size:16px!important;
}

#apostolesNavbar a:hover
{
    color:black;
    transition: color 0.8s;
    
}

#apostolesNavbar
{
    position: absolute;
    width:100%;
    z-index: 100;
    padding-top:5.5%;
}
 
/*hide navbar on mobile */
@media (max-width: 768px) {
    #apostolesNavbar 
    {
       display: none!important;
    }
 }