.cookiefier {
  display: flex;
  z-index: 2;
  position: fixed;
  padding: 10px;
  flex-direction: column;
  background: $color__black;
  color: $color__white;
  width: 220px;
  height: 220px;
  margin: 90% 10%;
  border-radius: 50%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

  @media (min-width: $tablet) {
    justify-content: center;
    width: 300px;
    height: 300px;
    margin-top: 20%;
    margin-left: 100px;
  }
  &__title {
    max-width: 140px;
    font-size: 0.8rem;
    display: inline;
    font-family: $maax;
    font-weight: 900;
    margin: 0px;
    @media (min-width: $tablet) {
      max-width: initial;
      font-size: 1rem;
    }
  }
  &__information {
    margin: 0 8px;

    font-size: 0.8rem;
    @media (min-width: $desktop) {
      margin: 20px 8px;
      font-size: 0.9rem;
    }
  }
  &__cta {
    font-family: $garamond;
    border: 1px solid $color__white;
    cursor: pointer;
    transition: all 0.5s;
    padding: 5px;

    @media (min-width: $desktop) {
      padding: 10px;
    }

    &:hover {
      border-color: $color__accent;
      color: $color__accent;
    }

    .App--dark & {
      border-color: $color__black;

      &:hover {
        border-color: inherit;
      }
    }
  }

  .App--dark & {
    color: $color__black;
    background: $color__white;
  }
}
