.sidebar {
  #topText {
    text-align: center;
    padding-top: 3%;
  }

  .sideMenu {
    list-style: none;
  }

  .sideMenu svg {
    width: 30px;
  }

  .sideMenu li {
    border-bottom: 1px solid #373a47;
    padding: 10%;
    text-align: center;
  }
  .sideMenu li:last-child {
    border: none;
  }

  html,
  body {
    overflow-x: hidden !important;
    margin: 0;
  }

  #App {
    font-weight: 300;
    /* Give app full page to work with */
    height: 100vh;
  }

  #page-wrap {
    text-align: center;

    /* Prevent sidebar from showing a scrollbar on page */
    overflow: auto;
  }

  /* Individual item */
  .bm-item {
    display: inline-block;
    font-weight: 300;

    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #373a47;
    transition: color 0.2s;
  }

  /* Change color on hover */
  .bm-item:hover {
    color: #373a47;
  }

  /* The rest copied directly from react-burger-menu docs */

  /* Position and sizing of burger button */
  .bm-burger-button {
    position: relative;
    width: 36px;
    display: flex;
    height: 20px;
    padding: 5px;
    margin: 20px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    margin-top: 2px;
    background: #373a47;
    transition: 0.5s;
  }
  .bm-burger-button:hover .bm-burger-bars {
    margin-top: -1px;
  }
  .bm-burger-button:hover .bm-burger-bars:nth-child(1) {
    transform: rotate(90deg);
    margin-top: 11px;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: #373a47;
    width: 2px !important;
    height: 20px !important;
    transition: 0.5s;
  }

  .bm-cross-button:hover .bm-cross {
    transform: rotate(90deg) !important;
  }

  /* General sidebar styles */
  .bm-menu {
    background: #fdfdfd;
    padding: 2.5em 1em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #373a47;
  }

  /* Color/shape of burger icon bars */

  .App--dark & .bm-cross {
    background: #fdfdfd;
  }

  .App--dark & .sideMenu li:last-child {
    border: none;
  }

  .App--dark & .sideMenu li {
    border-bottom: 1px solid #fdfdfd;
  }
  .App--dark & .bm-burger-bars {
    background: #fdfdfd;
  }

  .App--dark & .bm-item {
    color: #fdfdfd !important;
  }

  .App--dark & .bm-menu {
    background: #232323;
  }
  .bm-burger-bars {
    background: #373a47;
    width: 20px;
    height: 2px !important;
  }

  @media (min-width: $desktop) {
    display: none;
  }

  .topbar {
    display: flex;
    justify-content: space-between;
    overflow: hidden !important;
    svg * {
      cursor: pointer;
      transition: all 0.5s;
      box-shadow: 4px 9px 31px -19px $color__black;
      .App--dark & {
        fill: $color__white;
        box-shadow: 4px 9px 31px -19px $color__white;
      }
    }
    * {
      font-family: adobe-garamond-pro;
      font-size: 25px;
      outline: none;
    }

    button {
      height: 35px;
      width: 35px;
      margin: 20px;
    }

    &__icons-wrapper {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__right-mode-toggle button {
      pointer-events: none;
    }

    &__right-mode-toggle svg {
      width: 100%;
    }
  }
}
