#topText {
  text-align: center;
  padding-top: 3%;
}

#topbar {
  display: flex;
  justify-content: space-between;
}
#topbar * {
  font-family: adobe-garamond-pro;
  font-size: 25px;
  outline: none;
}
.sideMenu {
  list-style: none;
}
.sideMenu li {
  border-bottom: 1px solid white;
  padding: 10%;
  text-align: center;
}
.sideMenu li:last-child {
  border: none;
}

.App--dark li {
  border-bottom: 1px solid black;
}
html,
body {
  margin: 0;
}

#App {
  font-weight: 300;
  /* Give app full page to work with */
  height: 100vh;
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-weight: 300;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: white;
  transition: color 0.2s;
}

/* Change color on hover */
.bm-item:hover {
  color: white;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  display: flex;
  height: 20px;
  padding: 5px;
  margin: 20px;
}

.topbar__icons-wrapper {
  height: 100%;
  display: flex;
}
.topbar__right-mode-toggle button {
  pointer-events: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  margin-top: 8px;
  background: #373a47;
  transition: 0.5s;
}
.bm-burger-button:hover .bm-burger-bars {
  margin-top: -1px;
}
.bm-burger-button:hover .bm-burger-bars:nth-child(1) {
  transform: rotate(90deg);
  margin-top: 11px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  width: 2px !important;
  height: 20px !important;
  transition: 0.5s;
}

.bm-cross-button:hover .bm-cross {
  transform: rotate(90deg) !important;
}

.App--dark .bm-cross {
  background: #000000;
}

/* General sidebar styles */
.bm-menu {
  background: #000000;
  padding: 2.5em 1em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Color/shape of burger icon bars */

.App--dark .bm-burger-bars {
  background: #fdfdfd;
}

.App--dark .bm-item {
  color: #373a47 !important;
}

.App--dark .bm-menu {
  background: #fdfdfd;
}
.bm-burger-bars {
  background: #373a47;
  width: 20px;
  height: 1.5px !important;
}
