.button-link {
  margin: 10px 10px 10px 0;
  padding: 10px 20px;
  font-family: $maax;
  font-weight: 100;
  color: $color__white;
  background: $color__black;
  .App--dark & {
    color: $color__black;
    background: $color__white;
    &:hover {
      color: $color__accent;
    }
  }
}
