#pageTitle {
  text-align: center;
  font-family: adobe-garamond-pro, serif;
  margin-bottom: 10%;
  padding-top: 10%;
  font-size: 45px;
}

#aboutContainer {
  overflow-y: hidden;
}

.mountainCol {
  margin-top: 6% !important;
}

#aboutContainer {
  overflow-x: hidden;
}

#SportsBox hr,
#BooksBox hr,
#videogamesBox hr {
  width: 10%;
  height: 0.01px;
  color: black;
  background-color: black;
}

#BooksBox hr {
  background-color: white;
  height: 0.01px !important;
}

#secondRowAbout img {
  width: 100%;
}

#secondRowAbout {
  display: block;
}

#lezanta {
  text-align: right;
  font-family: roboto;
  display: block;
  font-size: 15px;
  margin-top: 3px;
  font-weight: 300;
}

#aboutTitle {
  z-index: 10;
  position: absolute;
  margin-top: -1.3%;
  font-family: Lato;
}

@media (max-width: 1000px) and (min-width: 750px) {
  #aboutTitle {
    margin-top: 1% !important;
  }
}

@media (max-width: 1300px) {
  .sisiphus {
    margin-left: 0% !important;
  }
}

@media (max-width: 800px) {
  #pageTitle {
    padding-top: 30%;
  }

  #BooksBox,
  #aboutBoxes {
    margin-top: 50%;
  }

  #tolesIll {
    height: 80%;
    width: 50%;
  }

  .mountain {
    margin-top: 40%;
  }

  .sisiphus {
    margin-bottom: 40%;
  }
}

@media (max-width: 750px) {
  .boxTitle {
    margin-top: 8%;
  }
  .hideonMob {
    display: none;
  }

  .mountainCol {
    position: relative !important;
    margin-bottom: -25% !important;
  }

  .thanosCredits {
    margin-top: -20% !important;
    margin-left: 0% !important;
    text-align: center;
    margin-bottom: 20%;
  }

  #tolesIll {
    position: relative !important;
    bottom: 0;
  }
}
.boxTitle {
  text-align: center;
  font-family: adobe-garamond-pro, serif;
}

#SportsBox {
  background-color: #e9e8e8;
}

#BooksBox {
  background-color: #272727;
  color: #ffffff;
}
#BooksBox *::selection {
  color: #272727;
  background-color: #ffffff;
}

#GamesBox {
  background-color: #e8e8e8;
  background-color: #272727;
  color: #e8e8e8;
}

#videogamesBox,
#BooksBox,
#SportsBox {
  padding: 5%;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#videogamesBox {
  margin-top: 10%;
  background-color: #e5e5e5;
  color: #000000;
}
.quote {
  font-style: italic;
  display: block;
  text-align: right;
  font-family: adobe-garamond-pro, serif;
}

#videogamesBox p,
#BooksBox p,
#SportsBox p {
  font-size: 20px;
}

#videogamesBox a {
  color: #777777;
}
.gamesSpan {
  font-family: adobe-garamond-pro, serif !important;
}

#videogamesBox a:hover {
  color: #272727;
  transition: color 0.3s;
}
#tolesIll {
  width: 100%;
}

.aboutRow {
  margin-top: 20% !important;
  overflow-y: visible;
}

.sisiphus {
  margin-left: 11%;
}

.thanosCredits {
  margin-top: 20%;
  padding-bottom: 40%;
  margin-left: 20%;
}
.thanosCredits a {
  color: #000;
}

#tolesIll {
  position: absolute;
  bottom: 0;
}
