@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700,900');


#interestsContainer ul li
{
    list-style:none;

}

#interestsContainer p
{
    font-size:20px;
    
}



.interestsTitle
{
    font-family: adobe-garamond-pro, serif; 
    font-size:50px;
    
    color:#3d3d3d;
    padding-bottom:2%;
    padding-top:5%;
    }

    .interestsContact
{
    font-family: adobe-garamond-pro, serif; 
    font-size:50px;
    color:#3d3d3d;
    display: block;
    text-align: center;
    margin-top:10%;
    }

    @media (max-width:1000px)
    {

    .interestsContact
    {
        font-size: 22px;
    }
    }


    .interestsTitle.B
    {
    color:white;
    text-align: center;
    }

    #blackend *::selection 
{
    color:#272727;
    background-color:#ffffff!important;
}

#graySection
{
   text-align: left;
   padding-top:3%;
   padding-bottom:3%;
}

#graySection .IEEEthumbnail  
{
    width:100%;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:10%;
}


@media (min-width:1200px)
{
    #arduinoDay img
    {
        margin-top:-1%;
        
    }
}

#graySection a
{
    color:#3d3d3d;
    font-weight: 400;
}

#graySection a:hover
{
    color:#616161;
    font-weight: 400;
    transition: 0.5s;
}

#graySection h6
{
    font-size:15px;
    font-family: roboto;
    font-weight: 300;
}

#blackend
{
    background-color:#050505;
    height:65vh!important;
    color:white;
}






#TechnologiesRow
{
    padding-bottom: 5%;
}
#TechnologiesRow h5
{
    font-size: 20px;
    font-family: roboto;
    font-weight: 300;
}

#TechnologiesRow hr
{
    width:10%;
    height:0.5px;
    color:black;
    background-color: black;
    
}

#TechnologiesRow ul li
{
    font-size:17px;
    letter-spacing: 1px;
    font-family:roboto;
}

@media (max-width:900px)
{

    #interestsContainer
    {
        padding-top:20%;
    }
    .bot
    {
        margin-top:50%;
    }
    #TechnologiesRow ul li
    {
        text-align:right;
    }

    #interestsContainer li
{
    margin-left:-20%;
}


    #graySection 
    {
        text-align: center;
    }

  

}
