

.Footer
{
    padding-top:1%;
    padding-bottom:2%;
    text-align: center;
}
.Footer h2
{
    font-family: adobe-garamond-pro, serif; 
}

.Footer ul li 
{
    display:inline;
}

@media (max-width:1000px)
    {
    .Footer
    {
        padding-top:10%!important;
        padding-bottom:10%!important;
    }

    .row
    {
        padding-top:5%!important;
    }

    
   
}

@media (max-width:400px)
{
    .footerMenu 
    {
        margin-right: 10px!important;
    }
}

@media (min-width:501px) and (max-width:1000px)
{
    .footerMenu 
    {
        margin-right: 60px!important;
    }
}
@media (max-width:400px)
    {
        .footerMenu 
        {
            padding-left:1px!important;
            margin-left:20px!important;
        }

        .Footer h2
        {
            font-family: adobe-garamond-pro, serif;
            font-size: 38px!important;
        }


        .footerSocial a
        {
          
            margin-left: 15px!important;
        }


        .footerSocial 
        {
            margin-right: 55px!important;
        }
    }

 a
{
    font-family:roboto;
    color:white;
    
}

.row
{
    padding-top:1%;
}

.Footer *::selection {
    background:  #ffffff; /* WebKit/Blink Browsers */
    color: #000000;
  }
  .Footer *::-moz-selection {
      background:  #ffffff; /* WebKit/Blink Browsers */
    color: #000000;
  }


.footerMenu 
{

    margin-right:45px;
    font-family:'Montserrat';
}


.footerMenu a
{
    padding:10px;
    display: inline;
}


.footerMenu a
{

    font-size:14px;
}



.footerSocial a
{
    font-size:18px;
    margin-left: 25px;
}


.footerSocial 
{
    margin-right: 80px;
}

a:hover
{
    color:#424242;
    transition: color 0.3s;
    text-decoration: none;
}
