.Footer ul li
{
    display:inline;
}


h2
{
    font-family: adobe-garamond-pro, serif; 
}

.Footer
{
    padding-top:1%;
    padding-bottom:2%;
    text-align: center;
    /* margin-top:6%; */
}

@media (max-width:1000px)
    {
    .Footer
    {
        padding-top:10%!important;
        padding-bottom:10%!important;
    }

    .row
    {
        padding-top:5%!important;
    }
}

@media (max-width:400px)
    {
        .footerMenu a
        {
            padding-left:1px!important;
            margin-left:20px!important;
        }
}

a
{
    font-family:roboto;
    color:white;
    
}

.row
{
    padding-top:1%;
}


.footerMenu 
{
    padding-left:0px;
    margin-right:35px;
}

.footerMenu a
{
    margin-left:35px ;
}



.footerSocial a
{
    font-size:18px;
    margin-left: 25px;
}


.footerSocial 
{
    margin-right: 80px;
}

a:hover
{
    color:#424242;
    transition: color 0.1s;
    text-decoration: none;
}
