.topHalf
{
    background-color:#0f0f0f;
    color:#fff;
    padding-top:8%;
    padding-bottom:8%;
    padding-left:3%;   
}

.hideMob
{
  width:40%;
  top:40%;
  left:30%;
  position:absolute;
}


.topHeadline
{
    text-align: center;
}

.halfRow
{
    padding-bottom: 5%;
}

.frstImage
{
  margin-top:10%;
  width:50%;
}

.rowPost
{
  margin-top:10%;
}

@media (max-width: 1000px) {
    .topHalf 
    {
      background-color:#fff!important; 
      color:black;
    }
    #homeMob{ padding-top:20% }
    .hideMob{visibility: hidden;}
    #topImgs{overflow:hidden;}

    h3,p    
    {
      text-align: center;
    }

    .frstImage
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:70%;
    }
 }

