@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700,900');

.interestsTitle
{
    font-family: adobe-garamond-pro, serif; 
    font-size:50px;
    text-align: center;
    color:#3d3d3d;
    padding-bottom:2%;
    }

    .interestsTitle.B
    {
    color:white;
    }

.graySection
{
   background-color:#f7f4f4;
   text-align: center;
   padding-top:3%;
   padding-bottom:3%;
}

#blackend
{
    padding-top:5%;
    background-color:black;
    height:65vh!important;
    color:white;
}


.fullH
{
   height:90vh!important;
}