#notFoundT
{
    font-size:90px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  color:#232323;
  line-height: 86px;
}

#notFoundT:hover
{
    color:#6d6d6d
}

@media (max-width:1000px)
{
    #notFoundT
{
    font-size:30px;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  margin-left: -30%;
  
}
}