.status h4
{
color:whitesmoke;
font-size: 20px;
}

.status:hover
{  
   
   color:white ;
   transition: color 0.5s;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
.statusRow h3
{
   margin-Top:8%;
   padding-bottom: 3%;
   font-family: 'Montserrat';
   font-weight: 900;
}

.statusRow
{
   text-Align:center;
   background-image: url("../Images/buildings.jpg");
   background-position: center;
   background-size: contain;
}


.statusMore
{
   margin-Top:2%;
   margin-bottom:2%;
   text-Align:Right!important;
   border:solid 1px transparent;
   border-radius: 0%;
   color:inherit;
   color:white;
}

.statusMore a
{
   font-family: adobe-garamond-pro, serif!important   ;

}

.btn-outline-light
{
   font-size:20px;
   font-family: adobe-garamond-pro, serif!important;
}
.btn-outline-light:hover
{
   text-Align:Right!important;
   border-radius: 0%;
   border:solid white 1px;
   background-color: transparent;
   color:white;
   
   
}

@media (max-width: 1200px) {
    .status
{
padding-Top:2%;
border-Radius:0%;
padding-bottom: 6%;
color:whitesmoke;
}

.statusRow
{

   background-size: cover;
}

.statusRow h3
{
   margin-top:30%;
}

.statusMore
 {
    margin-Top:10%!important;
    font-family: adobe-garamond-pro, serif!important   ;
      
 }

 }


 @media (max-width: 700px) {
   .statusRow h3
   {
      margin-top:50%;
   }
   
   h4
   {
      font-size:19px!important;
   }

   
}