

  
  @font-face {
    font-family: adobe-garamond-pro;
    src:
      url("./EBGaramond-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
    font-display: auto;
  }

  @font-face {
    font-family: "Roboto";
    src:
      url("./Roboto-Thin.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 100;
    font-style: normal;font-display: auto;
  }
  
  @font-face {
    font-family: "Roboto";
    src:
      url("./Roboto-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 300;
    font-style: normal;font-display: auto;
  }
  
  @font-face {
    font-family: "Roboto";
    src:
      url("./Roboto-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 500;
    font-style: normal;font-display: auto;
  }
  
  
  @font-face {
    font-family: "Lato";
    src:
      url("./Lato-Black.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;font-display: auto;
  }

  /* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "Gilroy";
  src: url("./Gilroy-ExtraBold.eot"); /* IE9 Compat Modes */
  src: url("./Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./Gilroy-ExtraBold.otf") format("opentype"), /* Open Type Font */
    url("./Gilroy-ExtraBold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./Gilroy-ExtraBold.woff") format("woff"), /* Modern Browsers */
    url("./Gilroy-ExtraBold.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}