

  
  @font-face {
    font-family: adobe-garamond-pro;
    src:
      url("./EBGaramond-Medium.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Roboto";
    src:
      url("./Roboto-Thin.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 100;
    font-style: normal;font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    src:
      url("./Roboto-Light.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 300;
    font-style: normal;font-display: swap;
  }
  
  @font-face {
    font-family: "Roboto";
    src:
      url("./Roboto-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 500;
    font-style: normal;font-display: swap;
  }
  
  @font-face {
    font-family: "Montserrat";
    src:
      url("./Montserrat-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: 400;
    font-style: normal;font-display: swap;
  }
  
  @font-face {
    font-family: "Lato";
    src:
      url("./Lato-Black.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;font-display: swap;
  }
