.header {
  display: flex;
  flex-direction: row-reverse;
  right: 10px;
  padding: 20px 0px;
  z-index: 2;
  position: absolute;
  width: 100%;

  @media (min-width: $desktop) {
    padding: 20px 0;
    right: 50px;
  }

  @media (min-width: $desktop-large) {
    right: 200px;
    padding: 20px 0;
  }

  &__wrapper {
    display: flex;
  }
  &__item {
    color: inherit;
    margin: 20px 30px;
    font-family: $garamond;
    font-size: 18px;
    transition: 0.5s;

    &--light {
      color: $color__greyPale;

      .App--dark & {
        color: $color__black;
      }
    }

    &:hover {
      text-decoration: none;
      color: $color__accent;
    }
  }
}
