.header {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 10px;
  z-index: 2000;
  width: 100%;
  position: absolute;

  @media (min-width: $desktop) {
    padding: 20px 50px;
  }

  @media (min-width: $desktop-large) {
    padding: 20px 200px;
  }

  &__item {
    color: inherit;
    margin: 20px 30px;
    font-family: $garamond;
    font-size: 18px;
    transition: 0.5s;

    &--light {
      color: $color__greyPale;
    }

    &:hover {
      text-decoration: none;
      color: $color__accent;
    }
  }
}
