$boxShadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$boxShadowLight: 0 0px 50px 5px rgba(255, 255, 255, 0.2);

$color__black: #232323;
$color__grey: #838383;
$color__white: #fdfdfd;

$color__blackPale: #4b4b4b;
$color__greyPale: #d3d3d3;

$color__blackDarkMode: #353333;

$color__blackTotal: #000;
$color__whiteTotal: #fff;

$color__accent: #e3cd74;
