.projectArchive {
  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
  }

  h2 {
    text-align: center;
    margin-top: $desktop-content-margin;
    margin-bottom: 50px;
  }

  &__project {
    h4 {
      margin: 10px 0;
      font-size: 2rem;
      font-family: $maax;
      font-weight: 500;
    }

    width: 600px;
    height: 350px;
    display: flex;
    flex-direction: column;

    p {
      color: $color__grey;

      .App--dark & {
        color: $color__greyPale;
      }
    }

    img {
      filter: grayscale(0.5);
      width: 100%;
      border-radius: 8px;
      box-shadow: $boxShadowLight;
      object-fit: contain;
      transition: all 0.2s;
    }

    &:hover {
      img {
        filter: grayscale(0);
        transform: scale(1.01);
      }
    }
  }

  &__image-wrapper {
    margin: 0;
  }

  @media (min-width: $tablet) {
    &__wrapper {
      gap: 100px;
    }
    &__project {
      height: 500px;
    }
  }
}
