.header {
  display: flex;
  right: 10px;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  position: absolute;
  width: 100%;
  overflow-x: hidden;
  &__wrapper {
    display: flex;
    align-items: center;

    @media (min-width: $desktop) {
      margin-right: 50px;
    }

    @media (min-width: $desktop-large) {
      margin-right: 200px;
    }
  }
  &__item {
    color: inherit;
    margin: 20px 30px;
    font-family: $garamond;
    font-size: 18px;
    transition: 0.5s;

    &--light {
      color: $color__greyPale;
    }

    &:hover {
      text-decoration: none;
      color: $color__accent;
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
    svg * {
      transition: all 0.5s;
      box-shadow: 4px 9px 31px -19px $color__black;
      .App--dark & {
        fill: $color__white;
        box-shadow: 4px 9px 31px -19px $color__white;
      }
    }

    &:hover {
      svg * {
        fill: $color__accent;
      }
    }
    margin-left: 20px;
    @media (min-width: $desktop) {
      margin-left: 50px;
    }
    @media (min-width: $desktop-large) {
      margin-left: 210px;
    }
  }
}
