#cookiefier
{
    position:fixed;
    background-color:#232323;
    color:#fff;
    padding:1%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 1%;
    top:60%;
    z-index: 9999;
}

#cookiefier *::selection
{
    background-color:white;
    color:#000;
} 

#cookiefier h2
{
    font-size:18px;
    font-family: adobe-garamond-pro, serif; 
}

@media (max-width:1000px)
{
    #cookiefier
    {
        padding:4%;
    }

    #cookiefier p
    {

        text-align: left;
    }

    #cookieButton
    {
        top:7%;
        margin-left: 80%!important;
        position: absolute;
        font-size: 30px!important;
        
    }
}


#cookieButton
{
    font-size:22px;
    color:#878787;    
    margin-left: 90%;
    display:block;
    text-align: right;
    cursor: pointer;
}

#cookiefier p
{
    font-size:14px;
}