.topHalf
{
    background-color:#232323;
    color:#fff;
    padding-top:8%;
    padding-bottom:8%;
    padding-left:3%; 
    padding-right:3%;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5%;
    font-size:17px;
}

#firstButton 
{
  border-radius: 0%;
  margin-left: 73%;
  margin-top:4%;
  font-family: adobe-garamond-pro, serif!important;
  font-size:20px;
}

#firstButton:hover
{
  transition: 0.5s;
}
.frstImage
{
  margin-top:10%;
  width:50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);  border-radius: 50%;
}
.secondImage
{
  width:40%;
  top:40%;
  left:30%;
  position:absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius: 50%;
}


.topHalf *::selection {
  background:  #ffffff; /* WebKit/Blink Browsers */
  color: #000000;
}
.topHalf *::-moz-selection {
    background:  #ffffff; /* WebKit/Blink Browsers */
  color: #000000;
}


.topHeadline
{
    text-align: center;
  }

.halfRow
{
    padding-bottom: 15%;
}



.rowPost
{
  margin-top:10%;
}

@media (max-width: 1200px) {
    .topHalf 
    {
      background-image: url("../../Images/greyillu.jpg");
      background-size: cover;
      color:white;
      background-repeat:no-repeat;
      box-shadow:inset 0 0 0 2000px rgba(45,45,45,0.3);
      border-radius: 0%;
    }

    .topHalf h2
    {
      margin-top:60%;
    }

    

    #homeMob{ padding-top:10% }
    
    .frstImage{overflow:hidden;visibility: hidden;display:none!important}
    h3,p    
    {
      text-align: left;
    }

    .frstImage
    {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width:70%;
    }

    #firstButton 
    {                                     
        border-radius: 0%;
    text-align: center;
    margin-top:5%;
    margin-left:27%;
    font-family: adobe-garamond-pro, serif!important;
    }
    .secondImage
    {
      width:50%;
      left:25%;
      top:155px;
      position: relative;
    }
 }

 @media (max-width:1300px)
 {
  .frstImage
  {
    width:60%;
  }

  .secondImage
    {
      width:50%;
      
    }
  }

 
    @media (max-width:1000px)
    {
     
   
     .secondImage
       {
         width:100%;
         left:50%;
         top:200px;
       }
 }

 @media (max-width:800px)
    {
     
   
     .secondImage
       {
         width:50%;
         left:25%;
         top:150px;
       }
 }
