.status h4
{
color:black;



font-size: 20px;
}

.status:hover
{  

   transition: color 0.5s;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
.statusRow h3
{
   margin-Top:2%;
   padding-bottom: 3%;
   font-Weight:300;font-Size:26px;text-Align:center;color:black;font-family:roboto , serif;
  
}


.statusRow
{
   text-Align:center;
   background-color:white;
}

.status h3
{
   font-size:45px;
   color:#303030;
   
   
}

.statusRow *::selection {
   background:  #000000; /* WebKit/Blink Browsers */
   color: #ffffff;
 }
 .statusRow *::-moz-selection {
   background:  #000000; /* WebKit/Blink Browsers */
   color: #ffffff;
   
 }

#statusMore
{
   margin-Top:2%;
   margin-bottom:2%;
   text-Align:Right!important;
   border:solid 1px transparent;
   border-radius: 0%;
   color:black;
}

#statusMore a
{
   font-family: adobe-garamond-pro, serif!important;color:black;

}

#statusMore.btn-outline-light
{
   font-size:20px;
   font-family: adobe-garamond-pro, serif!important;

   
}

#statusMore.btn-outline-light:hover 
{
   text-Align:Right!important;
   border-radius: 0%;
   background-color: transparent;
   
}

@media (max-width: 1200px) {
    .status
{
padding-Top:2%;
border-Radius:0%;
padding-bottom: 6%;
color:black;
}

.statusRow
{

   background-size: cover;
}

.statusRow h3
{
   margin-top:30%;
   
}

#statusMore
 {
    margin-Top:10%!important;
    font-family: adobe-garamond-pro, serif!important   ;
      
 }

 }


 @media (max-width: 700px) {
   .statusRow h3
   {
      margin-top:50%;
   }
   
   
}