
@media only screen and (min-width: 700px) 
{
    #topBar{ visibility: hidden; }
    
}

@font-face {
  font-family: adobe-garamond-pro;
  src: url(./fonts/EBGaramond-Regular.woff) format('woff'),
  url(./fonts/EBGaramond-Regular.ttf) format('ttf'),
  url(./fonts//EBGaramond-Regular.woff2) format('woff2');
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Thin.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Roboto-Thin.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Roboto-Thin.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Roboto-Thin.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Roboto-Thin.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Roboto-Thin.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 100;
  font-style: normal;font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Roboto-Light.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Roboto-Light.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Roboto-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Roboto-Light.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Roboto-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 300;
  font-style: normal;font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Roboto-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Roboto-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Roboto-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Roboto-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Roboto-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 500;
  font-style: normal;font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Montserrat-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Montserrat-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Montserrat-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Montserrat-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Montserrat-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: 400;
  font-style: normal;font-display: swap;
}

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Black.eot"); /* IE9 Compat Modes */
  src: url("./fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/Lato-Black.otf") format("opentype"), /* Open Type Font */
    url("./fonts/Lato-Black.svg") format("svg"), /* Legacy iOS */
    url("./fonts/Lato-Black.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/Lato-Black.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Lato-Black.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}



body,html
{
  
  scroll-behavior:smooth;
  overflow-x: hidden;
}

@media (min-width:1000px)
{
  .lightboxImg
  {
    width:1280px!important;
    height:770px!important;
  }
}

@media (max-width:750px)
{
  .lightboxImg
  {
    margin-top:25%!important;
    width:300%!important;
    height:50%!important;
  }
}
h1,h2,h3,h4,p
{
  font-family: 'Roboto';
  font-weight:300;
}

.btn:focus
{
  box-shadow: none;
  background-color: none!important;
}

.btn:active
{
  box-shadow: none!important;
  background-color: none!important;
}

a {
  outline: 0;
}

*::selection {
  background: #000000; /* WebKit/Blink Browsers */
  color: #ffffff
}
*::-moz-selection {
  background: #000000; /* Gecko Browsers */
  color:#ffffff
}
@media (min-width:800px)
{
p.press::first-letter {
  font-family: adobe-garamond-pro, serif;
font-weight: 300;
float: left;
font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
}