@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900);
@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,700,900);
@import url("https://use.typekit.net/jqd8xpv.css");
@media only screen and (min-width: 700px) 
{
    #topBar{ visibility: hidden; }
    
}

body,html
{
  height:100%;
  scroll-behavior:smooth;
  overflow-x: hidden;
}

@media (min-width:1000px)
{
  .lightboxImg
  {
    width:1280px!important;
    height:770px!important;
  }
}

@media (max-width:750px)
{
  .lightboxImg
  {
    margin-top:25%!important;
    width:300%!important;
    height:50%!important;
  }
}
h1,h2,h3,h4,p
{
  font-family: 'Roboto';
  font-weight:300;
}

.btn:focus
{
  box-shadow: none;
  background-color: none!important;
}

.btn:active
{
  box-shadow: none!important;
  background-color: none!important;
}

a {
  outline: 0;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

#apostolesNavbar a
{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:lighter 
}

*::selection {
  background: #000000; /* WebKit/Blink Browsers */
  color: #ffffff
}
*::-moz-selection {
  background: #000000; /* Gecko Browsers */
  color:#ffffff
}
@media (min-width:800px)
{
p.press::first-letter {
  font-family: adobe-garamond-pro, serif;
font-weight: 300;
float: left;
font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
}